@model IEnumerable<WebApplication.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<br />
<div>
    <div class="form-group row">
        <div class="col-6">
            <h2 class="text-info">Student List</h2>
        </div>
        <div class="col-3 offset-3">
            @*<a class="btn btn-info form-control text-white" asp->
                Add New Book
            </a>*@
            <a class="nav-link btn btn-info form-control text-white" asp-area="" asp-controller="Students" asp-action="Create">Add New Data</a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Phone Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhonNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a href="@Url.Action("ExportToExcel","Students")">Export</a>
